{{ 'embla-styles.css' | asset_url | stylesheet_tag }}

{% stylesheet %}
  .custom-blog-carousel {
  }
{% endstylesheet %}

<div class="embla three-cols">
  <div class="embla__viewport">
    <div class="embla__container">
      {% assign blog = block.settings.blog %}
      {% for article in blog.articles %}
        <div class="embla__slide">
          <div class="blog-card">
            <a href="{{ article.url }}" class="blog-card__image-wrapper">
              {% if article.image != blank %}
                {{-
                  article.image
                  | image_url: width: article.image.width
                  | image_tag: loading: 'lazy', decoding: 'async', draggable: false
                -}}
              {% endif %}
            </a>
            <div class="blog-card__content">
              <h3 class="blog-card__title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h3>
              <p class="blog-card__excerpt">{{ article.excerpt | strip_html | truncate: 25 }}</p>
              <a href="{{ article.url }}" class="blog-card__read-more">
                <span class="text">Read More</span>
                <span class="icon">{{ 'arrow.svg' | inline_asset_content }}</span>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% render 'embla-scripts' %}

{% schema %}
{
  "name": "Blog Carousel",
  "class": "custom-blog-carousel",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    }
  ],
  "presets": [
    {
      "name": "Blog Carousel"
    }
  ]
}
{% endschema %}
