{% stylesheet %}
  .compare-protain h3 {
    color: black;
    font-size: 24px;
    margin-top: 13px;
    text-align: center;
  }

  .compare-protain img {
    margin-bottom: 30px;
  }

  .compare-protain .filled-star {
    --star-fill-color: #1b73b3;
  }

  .compare-protain h3 a {
    color: black;
  }

  .compare-protain {
    font-weight: 600;
    color: black;
  }

  .compare-protain .icon {
    flex-shrink: 0;
  }

  .compare-protain .comparison-items-list > * {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 12px;
  }

  .compare-protain .rating-wrapper {
    justify-content: center;
    margin-top: 0;
  }

  .compare-protain .col {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    border: 1px solid #d9d9d9;
  }

  .comparison-items-list {
    max-width: 280px;
    margin: auto;
  }
{% endstylesheet %}

{% liquid
  assign products = collections.all.products
  assign current_id = product.id
  assign counter = 0
%}

<div class="grid cols-4 no-template-areas">
  {% for prod in products %}
    {% if prod.id != current_id and counter < 4 %}
      {% assign counter = counter | plus: 1 %}
      <div class="col">
        <a href="{{ prod.url }}">
          {{-
            prod.featured_image
            | image_url: width: 500
            | image_tag: loading: 'lazy', decoding: 'async', draggable: false
          -}}
        </a>

        {% content_for 'block', type: 'review', id: '{{prod.id}}', closest.product: prod %}

        <h3>
          <a href="{{ prod.url }}">{{ prod.title }}</a>
        </h3>

        <div class="comparison-items-list flex vertical">
          <div class="flex items-center">
            <span class="icon">{{ 'bottle.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.best_for_most_people_text }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'protein.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.protein }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'protein.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.calories }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'calories.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.carbs_per_scoop }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'weight.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.weight }}</span>
          </div>
        </div>

        <a class="button w-100" href="{{ prod.url }}">
          <span>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.25 20.75C18.6478 20.75 19.0294 20.592 19.3107 20.3107C19.592 20.0294 19.75 19.6478 19.75 19.25C19.75 18.8522 19.592 18.4706 19.3107 18.1893C19.0294 17.908 18.6478 17.75 18.25 17.75C17.8522 17.75 17.4706 17.908 17.1893 18.1893C16.908 18.4706 16.75 18.8522 16.75 19.25C16.75 19.6478 16.908 20.0294 17.1893 20.3107C17.4706 20.592 17.8522 20.75 18.25 20.75ZM8.25 20.75C8.64782 20.75 9.02936 20.592 9.31066 20.3107C9.59196 20.0294 9.75 19.6478 9.75 19.25C9.75 18.8522 9.59196 18.4706 9.31066 18.1893C9.02936 17.908 8.64782 17.75 8.25 17.75C7.85218 17.75 7.47064 17.908 7.18934 18.1893C6.90804 18.4706 6.75 18.8522 6.75 19.25C6.75 19.6478 6.90804 20.0294 7.18934 20.3107C7.47064 20.592 7.85218 20.75 8.25 20.75Z" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3.75 2.75H20.75L18.75 13.75M3.75 2.75L5.75 13.75H18.75M3.75 2.75C3.583 2.083 2.75 0.75 0.75 0.75M18.75 13.75H3.98C2.196 13.75 1.25 14.531 1.25 15.75C1.25 16.969 2.196 17.75 3.98 17.75H18.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          Shop Now</a
        >
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Compare Protain",
  "class": "compare-protain",
  "settings": [],
  "presets": [
    {
      "name": "Compare Protain"
    }
  ]
}
{% endschema %}
