{% stylesheet %}
  .compare-protain h3 {
    color: black;
    padding-top: 13px;
    font-size: 24px;
  }

  .compare-protain {
    font-weight: 600;
    color: black;
  }

  .compare-protain .icon {
    flex-shrink: 0;
  }

  .compare-protain .comparison-items-list > * {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 12px;
  }

  .compare-protain .rating-wrapper {
    justify-content: center;
    margin-top: 20px;
  }
{% endstylesheet %}

{% liquid
  assign products = collections.all.products
  assign current_id = product.id
  assign counter = 0
%}

<div class="grid cols-4 no-template-areas">
  {% for prod in products %}
    {% if prod.id != current_id and counter < 4 %}
      {% assign counter = counter | plus: 1 %}
      <div class="col">
        <a href="{{ prod.url }}">
          {{-
            prod.featured_image
            | image_url: width: 500
            | image_tag: loading: 'lazy', decoding: 'async', draggable: false
          -}}
        </a>

        {% content_for 'block', type: 'review', id: '{{prod.id}}', closest.product: prod %}

        <h3>
          <a href="{{ prod.url }}">{{ prod.title }}</a>
        </h3>

        <div class="comparison-items-list flex vertical">
          <div class="flex items-center">
            <span class="icon">{{ 'bottle.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.best_for_most_people_text }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'protein.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.protein }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'protein.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.calories }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'calories.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.carbs_per_scoop }}</span>
          </div>

          <div class="flex items-center">
            <span class="icon">{{ 'weight.svg' | inline_asset_content }}</span>
            <span class="text">{{ prod.metafields.custom.weight }}</span>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Compare Protain",
  "class": "compare-protain",
  "settings": [],
  "presets": [
    {
      "name": "Compare Protain"
    }
  ]
}
{% endschema %}
