{% stylesheet %}
  .doctor-item {
  }
{% endstylesheet %}

<div class="flex items-center">
  <div class="img relative">
    {{-
      block.settings.img
      | image_url: width: block.settings.img.width
      | image_tag: loading: 'lazy', decoding: 'async', draggable: false
    -}}
  </div>
  <div class="texts">
    <p class="quote">{{ block.settings.quote }}</p>
    <p class="content">{{ block.settings.content }}</p>

    <div class="author">
      <p class="name">{{ block.settings.name }}</p>
      <p class="position">{{ block.settings.position }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Doctor Item",
  "class": "doctor-item",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "quote",
      "label": "Qoute"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "text",
      "id": "position",
      "label": "Position"
    }
  ],
  "presets": [
    {
      "name": "doctor item"
    }
  ]
}
{% endschema %}
