{% liquid
  assign first_blog = blog.articles.first
  assign other_blogs = blog.articles

  assign word_count_first = first_blog.content | strip_html | number_of_words | divided_by: 200 | plus: 1
%}

{% stylesheet %}
  .big-article {
    width: 60%;
    padding-right: 55px;
    border-right: 1px solid var(--border-color);
  }

  .top-block h2 {
  }

  h3,
  h2 {
    color: black;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .big-article h3 {
    margin-top: 20px;
    font-size: 32px;
  }

  .big-article img {
    height: 287px;
    object-fit: cover;
    margin-bottom: 14px;
  }

  .other-articles {
    width: 40%;
    padding-left: 48px;
  }

  .other-articles img {
    height: 140px;
    object-fit: cover;
  }

  .other-articles .img {
    width: 30%;
  }

  .other-articles .content {
    width: 70%;
  }
{% endstylesheet %}

<h2>{{ block.settings.title }}</h2>

<div class="flex">
  <div class="big-article">
    <a href="{{ first_blog.url }}">
      {{-
        first_blog.image
        | image_url: width: 300, height: 300
        | image_tag: loading: 'lazy', decoding: 'async', draggable: false
      -}}
    </a>
    <div class="meta flex">
      {{ first_blog.created_at | date: '%B %d, %Y' }}
      <span class="min-read">{{ word_count_first }} min read</span>
    </div>
    <h3><a href="{{ first_blog.url }}"></a> {{ first_blog.title }}</h3>
    <p>{{ first_blog.excerpt_or_content | strip_html | truncate: 200 }}...</p>

    <a href="{{ first_blog.url }}" class="flex items-center">
      <span class="text"> Read More </span>
      <span class="icon">{{ 'arrow.svg' | inline_asset_content }}</span>
    </a>
  </div>
  <div class="other-articles">
    {% for item in other_blogs limit: 2 offset: 1 %}
      {% assign min_read = item.content | strip_html | number_of_words | divided_by: 200 | plus: 1 %}

      <div class="flex">
        <div class="img">
          <a href="{{ first_blog.url }}">
            {{-
              item.image
              | image_url: width: first_blog.image.width, height: 300
              | image_tag: loading: 'lazy', decoding: 'async', draggable: false
            -}}
          </a>
        </div>
        <div class="content">
          <h3><a href="{{ first_blog.url }}"></a> {{ first_blog.title }}</h3>

          <div class="meta flex">
            {{ first_blog.created_at | date: '%B %d, %Y' }}
            <span class="min-read">{{ min_read }} min read</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Top Blog",
  "class": "top-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Second Title"
    }
  ],
  "presets": [
    {
      "name": "Top blog"
    }
  ]
}
{% endschema %}
