{% liquid
  assign first_blog = blog.articles.first
  assign other_blogs = blog.articles
%}

<div class="flex">
  <div class="big-article">
    <a href="{{ first_blog.url }}">
      {{-
        first_blog.image
        | image_url: width: first_blog.image.width, height: 300
        | image_tag: loading: 'lazy', decoding: 'async', draggable: false
      -}}
    </a>
    <div class="meta flex">{{ first_blog.created_at | date: '%b %d, %y' }}</div>
    <h3><a href="{{ first_blog.url }}"></a> {{ first_blog.title }}</h3>
    <p>{{ first_blog.excerpt_or_content | strip_html | truncate: 200 }}</p>
  </div>
  <div class="other-articles">
    {% for item in other_blogs limit: 2 offset: 1 %}
      <div class="flex">
        <div class="img">
          <a href="{{ first_blog.url }}">
            {{-
              item.image
              | image_url: width: first_blog.image.width, height: 150
              | image_tag: loading: 'lazy', decoding: 'async', draggable: false
            -}}
          </a>
        </div>
        <div class="content">
          <h3><a href="{{ first_blog.url }}"></a> {{ first_blog.title }}</h3>
          <p>{{ first_blog.excerpt_or_content | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Top Blog",
  "class": "top-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Second Title"
    }
  ],
  "presets": [
    {
      "name": "Top blog"
    }
  ]
}
{% endschema %}
