{% liquid
  assign section_settings = section.settings
%}

<div>
  <div class="contained">
    <h2>{{ section_settings.title }}</h2>
    <p>{{ section_settings.subtitle }}</p>

    <div class="collections-grid cols-4 grid">
      {% for collection in section_settings.collection_list %}
        <div class="collection-item">
          <div class="top-box flex items-center gap-1">
            <span class="icon">
              {{ 'arrow.svg' | inline_asset_content }}
            </span>
            <div class="box-details">
              <h3>{{ collection.title }}</h3>
              <p>{{ collection.description }}</p>
            </div>
          </div>
          {{-
            collection.image
            | image_url: width: 372
            | image_tag: loading: 'lazy', decoding: 'async', draggable: false
          -}}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shop By Goal",
  "class": "shop-by-goal",
  "settings": [
    {
      "type": "header",
      "content": "Design"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "Shop by goal"
    }
  ]
}
{% endschema %}
